.wrapper {
    border-top: 0.5px solid #ccc;
}

.label {
    padding: 8px;
    color: #161823;
    font-size: 14px;
    font-weight: 600;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
}

.check {
    font-size: 1.4rem;
    margin-left: 4px;
    color: var(--check);
}

.name {
    font-size: 1.2rem;
    color: #161823bf;
}

.more-btn {
    font-size: 14px;
    color: #fe2c55;
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
}
